html {
  box-sizing: border-box;
  --main-color:rgba(0,0,0,0.7);
  --plum:rgba(63, 21, 79,1);
  --cherry:rgba(228,0,43,1);
}

body {
  color: #606c76;
  font-family: 'Nunito', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}

.button,
button {
  background-color:  var(--plum);
  border: none;
  border-radius: .4rem;
  color: var(--cherry);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  line-height: 1.6rem;
  padding: 0 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 1.0rem;
}

.button:focus, .button:hover,
button:focus,
button:hover {
  background-color: var(--cherry);
  color: #fff;
  outline: 0;
}

a {
  color:  var(--cherry);
  text-decoration: none;
}

a:hover{
  background-color: var(--cherry);
  color: #fff;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2.5rem;
/* switch margin-bottom to margin-top for top pushbar */
}

li {
  position: relative;
  margin: 1.0rem 3rem;
  background-color: grey;
  border-radius:5px;
}

li a:hover{
  background-color: var(--cherry);
  color: #fff;
}
