html {
  box-sizing: border-box;
  --main-color:rgba(0,0,0,0.7);
}

body {
  color: #606c76;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}

/* button styling */
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color:  var(--main-color);
  border: 0.1rem solid  var(--main-color);
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  height: 2rem;
  line-height: 1.6rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

/* button hoverstates */
.button:focus, .button:hover,
button:focus,
button:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
}

/* not related to pushbar, just the text on the demo page */
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
}

textarea {
  min-height: 6.5rem;
}

a {
  color:  var(--main-color);
  text-decoration: none;
}

ul li a{
  color:  var(--main-color);
  text-decoration: none;
}


ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}


.button,
button,
dd,
dt,
li {
  margin: 1.0rem;
}

textarea {
  margin: 1.5rem;
}


ul {
  margin-bottom: 2.5rem;
}
